# Entorno virtual de Python
venv/
ENV/
env/
.venv/

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales
*.log
*.tmp

# Archivos de gráficos generados
*.png

# Archivos creados por el IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
